p {
  margin: 0;
}

.CurrentPlayerIndicator {
  display: flex;
  justify-content: flex-end;
  text-transform: capitalize;
  gap: 4px;
  width: 720px;
  color: white;
}

.Board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);

  border: 2px solid black;
}

.BoardWrapper {
  display: flex;
  flex-direction: column;
}

.BoardWrapper__Column {
  display: flex;
}

.Ranks {
  display: flex;
  flex-direction: column;
  color: white;
}

.Rank,
.File {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: 600;
}

.Files {
  display: flex;
  margin-left: auto;
  color: white;
}

.Square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Square--Light {
  background-color: #f0d9b5;
}

.Square--Dark {
  background-color: #b58863;
}

.Square--Selected {
  background-color: lightblue;
}

.Square--Valid::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: lightblue;
}

.Square--Valid:has(.Piece)::after {
  content: "";
  position: absolute;

  width: 72px;
  height: 72px;

  border-radius: 10%;
  border: 5px solid lightblue;

  background-color: transparent;
  pointer-events: none;
}

.Piece {
  width: 70%;
  height: 70%;
  object-fit: contain;
  display: block;
}
